@media screen and (max-width: 576px) {
  #Home h2, #Technologies h2 {
    padding-left: 2vh;
  }

  #Home p {
    padding-left: 2vh;
  }
  #Pricing .card-deck {
    width: 90vw;
    margin: 0px auto;
  }
}

html {
  scroll-behavior: smooth;
}

h2, h5 {
  font-family: 'Roboto', sans-serif;
}

#custom-navbar {
  font-family: 'Josefin Sans', sans-serif;
}

#Home, #Technologies, #Pricing, #Contact-Us, #Footer {
  background-image: linear-gradient(to right, #000428, #004e92);
  color: white;
  padding: 8vh 0px;
  margin-bottom: -1px;
  font-family: 'Montserrat', sans-serif;
}

#Home img {
  max-width: 50vw;
  height: auto;
}

#Welcome-div {
  margin-top: auto;
  margin-bottom: auto;
}

.Custom-tech-list div {
  float: left;
  margin: 3vh 4vw;
}

#Technologies img {
  max-width: 40vw;
  height: auto;
}

.Custom-contact-us {
  border: 5px solid rgb(0, 217, 255);
  border-radius: 10px;
  padding: 3vh 3vw;
}

.Custom-form-width {
  margin: 1px auto;
  width: 80%;
}

#Footer-icons {
  width: 30px;
  height: 30px;
  vertical-align: middle;
  margin: 0px 40px;
}
